<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/recharge_detail/img_recharge_detail_page_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="dialog_content_container">
      <div class="status">
        <img src="assets/image/recharge_detail/img_recharge_detail_error_icon.png">
        <span>
          充值失败
        </span>
      </div>

      <div class="recharge_value">
        + {{item.ckMoney}}
      </div>

      <div class="order_number">
        <span>订单号：</span>
        <span>{{item.orderNo}}</span>
      </div>

      <img src="assets/image/common/dialog/img_split_line.png">

      <div class="time_and_method">
        <span>充值时间：</span>
        <span>{{item.createrTime | date:'yyyy/MM/dd HH:mm'}}</span>
        <span>充值方式：</span>
        <span>在线充值</span>
      </div>

      <div class="contact_customer_service" (click)="goKefu()">
        点击联系客服
      </div>
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>