@import "src/common/styles/index.scss";

.content_container{
  height: 100%;
  background: black;

  &>.header{
    width: 100%;
    height: 13vh;
    background: url("src/assets/image/withdrawal/img_withdrawal_header_bg.png") no-repeat;
    background-size: 100% 100%;

    &>.back{
      width: 28vw;
      height: 100%;
      line-height: 100%;
      float: left;
      @include press_effect;

      &>img{
        height: 8vh;
        width: auto;
        margin-top: 2.5vh;

        &:nth-of-type(1){
          margin-left: 3vh;
        }

        &:nth-of-type(2){
          margin-left: 3vh;
        }
      }
    }

    &>.page_title{
      display: block;
      width: auto;
      height: 7vh;
      margin-top: 2vh;
      float: left;
      vertical-align: middle;
    }
  }

  &>.content_main{
    width: 100%;
    height: calc(100% - 13vh);

    &>.withdrawal_type_list_container{
      height: 100%;
      width: 20vw;
      float: left;
      background: url("src/assets/image/withdrawal/img_withdrawal_list_bg.png") no-repeat;
      background-size: 100% 100%;
      overflow-y: scroll;

      &>.list_inner{
        width: 100%;
        height: auto;

        &>.list_item{
          width: 100%;
          height: 12vh;
          line-height: 12vh;
          text-align: left;
          padding-left: 2vh;
          background: url("src/assets/image/withdrawal/img_item_high_light_bg.png") no-repeat;
          background-size: 100% 100%;
          font-size: 3.6vh;
          font-weight: 600;
          @include press_effect;

          &.active{
            color: #301F01;
            background-image: url("src/assets/image/withdrawal/img_item_selected_bg.png")
          }

          &>img{
            width: 6vh;
            height: 6vh;
            vertical-align: middle;
            margin-right: 1vh;
          }
        }
      }
    }

    &>.split_line{
      display: block;
      float: left;
      height: 100%;
      width: auto;
      margin-left: -0.4vh;
      max-width: 1vw;
    }

    &>.withdrawal_content_container{
      width: calc(100% - 20vw - 1vw);
      height: 100%;
      float: left;
      padding: 2vh 2vw;

      &>.content_tab_00{
        width: 100%;
        height: auto;
        padding: 0 2vw;

        &>.text_info{
          width: 100%;
          height: 10vh;
          line-height: 10vh;

          &>h4{
            font-size: 3.2vh;
            float: left;
            height: 10vh;
            line-height: 10vh;

            &:nth-of-type(1){
              color: #CCC;
            }

            &:nth-of-type(2){
              color: $main_color;
            }
          }

          &>.recharge_record{
            float: right;

            &>img{
              height: 6vh;
              width: auto;
              vertical-align: middle;
            }

            &>span{
              font-size: 3.2vh;
              color: $main_color;
            }
          }
        }

        &>.withdrawal_info{
          width: 100%;
          height: 22vh;
          line-height: 22vh;
          background: url("src/assets/image/withdrawal/img_right_side_item_bg.png") no-repeat;
          background-size: 100% 100%;
          padding: 0 2vw;

          &>span{
            display: block;
            float: left;
            font-size: 3.6vh;
            width: 16vh;
            color: white;
          }

          &>input{
            display: block;
            float: left;
            width: calc(100% - 16vh - 2vh - 15vh);
            height: 10vh;
            line-height: 10vh;
            margin-left: 1vh;
            margin-top: 6vh;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 2.8vh;
            border-radius: 2vh;

            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }

          &>.clear_button{
            float: left;
            width: 15vh;
            height: 10vh;
            line-height: 10vh;
            margin-left: 1vh;
            margin-top: 6vh;
            font-size: 3.6vh;
            color: #CCC;
            background: url("src/assets/image/withdrawal/img_clear_button_bg.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            @include press_effect;
          }
        }

        &>.binding_ic_card{
          width: 100%;
          height: 22vh;
          line-height: 22vh;
          margin-top: 2vh;
          background: url("src/assets/image/withdrawal/img_right_side_item_bg.png") no-repeat;
          background-size: 100% 100%;
          padding: 0 2vw;

          &>img{
            display: block;
            float: left;
            width: 12vh;
            height: 10vh;
            margin-top: 6vh;
          }

          &>div:first-of-type{
            width: calc(100% - 12vh - 2vh - 4vw - 20vh);
            height: 12vh;
            float: left;
            margin-top: 6vh;
            margin-left: 1vh;

            &>h4{
              font-size: 3.2vh;

              &:first-of-type{
                color: $main_color;
              }

              &:nth-of-type(2){
                color: white;
                margin-top: 2vh;
              }
            }
          }

          &>.binding_button{
            width: 20vh;
            height: 10vh;
            line-height: 10vh;
            float: left;
            margin-left: 1vh;
            margin-top: 6vh;
            background: url("src/assets/image/withdrawal/img_bind_button_bg.png") no-repeat;
            background-size: 100% 100%;
            font-size: 3.6vh;
            color: #CCC;
            text-align: center;
            @include press_effect;
          }
        }

        &>.current_card_info{
          width: 100%;
          height: 22vh;
          margin-top: 2vh;
          background: url("src/assets/image/withdrawal/img_withdrawal_bank_item_01_bg.png") no-repeat;
          background-size: 100% 100%;
          padding: 2vh 3vh;

          &>.row01{
            width: 100%;
            height: auto;

            &>img{
              width: 6vh;
              height: 6vh;
              vertical-align: middle;
            }

            &>span{
              font-size: 3.6vh;
              vertical-align: middle;
              display: inline-block;
              white-space: nowrap;
              text-overflow: ellipsis;
              box-sizing: border-box;

              &:nth-of-type(1){
                width: 60%;
                text-align: left;
                color: white;
              }

              &:nth-of-type(2){
                width: calc(40% - 6vh);
                text-align: right;
                color: #CCC;
              }
            }
          }

          &>.row02{            
            width: 100%;
            padding-left: 6vh;
            font-size: 3.6vh;
            color: white;
            margin-top: 3vh;
          }
        }

        &>.confirm_withdrawal{
          display: block;
          width: auto;
          height: 10vh;
          margin: 0 auto;
          margin-top: 6vh;
          @include press_effect;
        }
      }

      &>.content_tab_01{
        width: 100%;
        height: calc(100% - 13vh);
        padding: 0 2vw;

        &>.inner_tab{
          width: 100%;
          height: auto;
          @include clearfix;

          &>.tab01{
            width: 26vh;
            height: 10vh;
            line-height: 10vh;
            float: left;
            text-align: center;
            font-size: 3.6vh;
            color: #CCC;
            background: url("src/assets/image/withdrawal/img_withdrawal_top_tab_unselect_bg.png") no-repeat;
            background-size: 100% 100%;

            &.active{
              color: #301F01;
              background: url("src/assets/image/withdrawal/img_withdrawal_top_tab_selected_bg.png") no-repeat;
              background-size: 100% 100%;
            }
          }

          &>.tab02{
            width: 26vh;
            height: 10vh;
            line-height: 10vh;
            float: left;
            text-align: center;
            font-size: 3.6vh;
            color: #CCC;
            background: url("src/assets/image/withdrawal/img_withdrawal_top_tab_unselect_bg.png") no-repeat;
            background-size: 100% 100%;

            &.active{
              color: #301F01;
              background: url("src/assets/image/withdrawal/img_withdrawal_top_tab_selected_bg.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }

        &>.table_container_01{
          width: 100%;
          height: 100%;

          &>.table_header{
            width: 100%;
            height: 10vh;
            background: url("src/assets/image/promote/img_promote_table01_table_header_bg.png") no-repeat;
            background-size: 100% 100%;
            @include clearfix;
  
            &>span{
              display: block;
              width: 25%;
              height: 10vh;
              line-height: 10vh;
              float: left;
              text-align: center;
              font-size: 3.6vh;
              color: $main_color;
            }
          }
  
          &>.table_body{
            position: relative;
            width: 100%;
            height: calc(100% - 4vh - 10vh - 2vh);
  
            &>.no_data_container{
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
  
              &>.no_data_inner{
                text-align: center;
  
                &>img{
                  display: block;
                  width: 18vh;
                  height: auto;
                }
  
                &>span{
                  font-size: 3.2vh;
                  color: white;
                }
              }
            }
  
            &>.table_content_container{
              position: absolute;
              width: 100%;
              height: 100%;
              overflow-y: scroll;
  
              &>.table_content_inner{
                width: 100%;
                height: auto;
  
                &>.table_content_row{
                  width: 100%;
                  height: 10vh;
                  @include clearfix;
  
                  &>span{
                    display: block;
                    width: 25%;
                    height: 10vh;
                    line-height: 10vh;
                    float: left;
                    color: white;
                    font-size: 3.2vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                  }
                }
              }
            }
          }
  
          &>.table_footer{
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            background: url("src/assets/image/promote/img_promote_table_footer_bg.png") no-repeat;
            background-size: 100% 100%;
            padding: 0 2vw;
            @include clearfix;
  
            &>.total{
              float: left;
              height: 10vh;
              line-height: 10vh;
              font-size: 3.2vh;
              color: #CCC;
            }
            
            &>.next_page{
              width: 13vh;
              height: 7vh;
              line-height: 7vh;
              margin-top: 1.5vh;
              text-align: center;
              background: url("src/assets/image/promote/img_promote_common_button_bg.png") no-repeat;
              background-size: 100% 100%;
              font-size: 3.6vh;
              color: #CCC;
              float: right;
              @include press_effect;
            }
  
            &>.page_counter{
              width: auto;
              height: 10vh;
              line-height: 10vh;
              float: right;
              margin-right: 2vw;
              font-size: 3.6vh;
              color: white;
            }
  
            &>.pre_page{
              width: 13vh;
              height: 7vh;
              line-height: 7vh;
              margin-top: 1.5vh;
              text-align: center;
              background: url("src/assets/image/promote/img_promote_common_button_bg.png") no-repeat;
              background-size: 100% 100%;
              font-size: 3.6vh;
              color: #CCC;
              float: right;
              margin-right: 2vw;
              @include press_effect;
            }
          }
        }

        &>.table_container_02{
          width: 100%;
          height: 100%;

          &>.table_header{
            width: 100%;
            height: 10vh;
            background: url("src/assets/image/promote/img_promote_table01_table_header_bg.png") no-repeat;
            background-size: 100% 100%;
            @include clearfix;
  
            &>span{
              display: block;
              width: 33.33%;
              height: 10vh;
              line-height: 10vh;
              float: left;
              text-align: center;
              font-size: 3.6vh;
              color: $main_color;
            }
          }
  
          &>.table_body{
            position: relative;
            width: 100%;
            height: calc(100% - 4vh - 10vh - 2vh);
  
            &>.no_data_container{
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
  
              &>.no_data_inner{
                text-align: center;
  
                &>img{
                  display: block;
                  width: 18vh;
                  height: auto;
                }
  
                &>span{
                  font-size: 3.2vh;
                  color: white;
                }
              }
            }
  
            &>.table_content_container{
              position: absolute;
              width: 100%;
              height: 100%;
              overflow-y: scroll;
  
              &>.table_content_inner{
                width: 100%;
                height: auto;
  
                &>.table_content_row{
                  width: 100%;
                  height: 10vh;
                  @include clearfix;
  
                  &>span{
                    display: block;
                    width: 33.33%;
                    height: 10vh;
                    line-height: 10vh;
                    float: left;
                    color: white;
                    font-size: 3.2vh;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                  }
                }
              }
            }
          }
  
          &>.table_footer{
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            background: url("src/assets/image/promote/img_promote_table_footer_bg.png") no-repeat;
            background-size: 100% 100%;
            padding: 0 2vw;
            @include clearfix;
  
            &>.total{
              float: left;
              height: 10vh;
              line-height: 10vh;
              font-size: 3.2vh;
              color: #CCC;
            }
            
            &>.next_page{
              width: 13vh;
              height: 7vh;
              line-height: 7vh;
              margin-top: 1.5vh;
              text-align: center;
              background: url("src/assets/image/promote/img_promote_common_button_bg.png") no-repeat;
              background-size: 100% 100%;
              font-size: 3.6vh;
              color: #CCC;
              float: right;
              @include press_effect;
            }
  
            &>.page_counter{
              width: auto;
              height: 10vh;
              line-height: 10vh;
              float: right;
              margin-right: 2vw;
              font-size: 3.6vh;
              color: white;
            }
  
            &>.pre_page{
              width: 13vh;
              height: 7vh;
              line-height: 7vh;
              margin-top: 1.5vh;
              text-align: center;
              background: url("src/assets/image/promote/img_promote_common_button_bg.png") no-repeat;
              background-size: 100% 100%;
              font-size: 3.6vh;
              color: #CCC;
              float: right;
              margin-right: 2vw;
              @include press_effect;
            }
          }
        }
      }

      &>.content_tab_02{
        position: relative;
        width: 100%;
        height: calc(100% - 13vh);
        padding: 0 2vw;

        &>.bank_card_list{
          position: absolute;
          width: calc(100% - 4vh);
          height: 100%;

          &>.bank_card_list_container{
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            &>.bank_card_list_inner{
              width: 100%;
              height: auto;

              &>.bank_card_item{
                width: 100%;
                height: auto;
                padding: 3vh 4vh;
                margin-top: 2vh;
                background: url("src/assets/image/withdrawal/img_withdrawal_bank_item_01_bg.png") no-repeat;
                background-size: cover;

                &:nth-of-type(1){
                  margin-top: 0;
                }

                &>.row01{
                  width: 100%;
                  height: 6vh;
                  line-height: 6vh;

                  &>img{
                    width: 6vh;
                    height: 6vh;
                    border-radius: 50%;
                  }

                  &>span{
                    font-size: 3.6vh;
                    color: white;
                    margin-left: 1vh;
                  }
                }

                &>.row02{
                  margin-top: 4vh;
                  padding-left: 7vh;
                  font-size: 3.6vh;
                  color: white;
                }
              }
            }
          }

          &>.to_add_bank_card{
            display: block;
            margin: 0 auto;
            margin-top: 1vh;
            width: auto;
            height: 10vh;
            @include press_effect;
          }
        }

        &>.add_bank_card{
          position: absolute;
          width: 100%;
          height: 100%;

          &>.row01{
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            text-align: center;
  
            &>span{
              display: inline-block;
              width: 20vh;
              text-align: right;
              font-size: 3.6vh;
              color: white;
            }
  
            &>input{
              width: 60vh;
              height: 8vh;
              line-height: 8vh;
              padding: 2vh 2.6vh;
              color: #CCC;
              margin-left: 2vh;
              background: transparent;
              border-radius: 2vh;
              font-size: 3.6vh;
              @include getBorder(all, 0.55px, $main_color);
              outline: none;
  
              &:-webkit-autofill { 
                box-shadow: 0 0 0px 1000px $main_color inset;
              }
            }
          }
  
          &>.row02{
            // position: relative;
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            margin-top: 2vh;
            text-align: center;

            ion-select{
              display: inline-block;
              width: 60vh;
              height: 8vh;
              line-height: 8vh;
              padding: 0;
              color: #CCC;
              margin-left: 2vh;
              margin-top: 2vh;
              background: transparent;
              border-radius: 2vh;
              font-size: 3.6vh;
              @include getBorder(all, 0.55px, $main_color);
              outline: none;
            }

            &>label{
              display: inline-block;
                width: 20vh;
                height: 8vh;
                line-height: 8vh;
                text-align: right;
                font-size: 3.6vh;
                color: white;
  
              &:nth-of-type(2){
                display: inline-block;
                width: 18vh;
                height: 10vh;
                line-height: 10vh;
                margin-left: 2vh;
                font-size: 3.6vh;
                color: #AAA;
                text-align: center;
                background: url("src/assets/image/withdrawal/img_withdrawal_choose_button.png") no-repeat;
                background-size: 100% 100%;
                @include press_effect;
              }
            }
  
            &>input{
              display: inline-block;
              width: 40vh;
              height: 8vh;
              line-height: 8vh;
              padding: 2vh 2.6vh;
              color: #CCC;
              margin-left: 2vh;
              background: transparent;
              border-radius: 2vh;
              font-size: 3.6vh;
              @include getBorder(all, 0.55px, $main_color);
              outline: none;
  
              &:-webkit-autofill { 
                box-shadow: 0 0 0px 1000px $main_color inset;
              }
            }
          }
  
          &>.row03{
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            margin-top: 2vh;
            text-align: center;
  
            &>span{
              display: inline-block;
              width: 20vh;
              text-align: right;
              font-size: 3.6vh;
              color: white;
            }
  
            &>input{
              display: inline-block;
              width: 60vh;
              height: 8vh;
              line-height: 8vh;
              padding: 2vh 2.6vh;
              color: #CCC;
              margin-left: 2vh;
              background: transparent;
              border-radius: 2vh;
              font-size: 3.6vh;
              @include getBorder(all, 0.55px, $main_color);
              outline: none;
  
              &:-webkit-autofill { 
                box-shadow: 0 0 0px 1000px $main_color inset;
              }
            }
          }
  
          &>.row04{
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            margin-top: 2vh;
            text-align: center;
  
            &>span{
              display: inline-block;
              width: 20vh;
              text-align: right;
              font-size: 3.6vh;
              color: white;
            }
  
            &>input{
              display: inline-block;
              width: 60vh;
              height: 8vh;
              line-height: 8vh;
              padding: 2vh 2.6vh;
              color: #CCC;
              margin-left: 2vh;
              background: transparent;
              border-radius: 2vh;
              font-size: 3.6vh;
              @include getBorder(all, 0.55px, $main_color);
              outline: none;
  
              &:-webkit-autofill { 
                box-shadow: 0 0 0px 1000px $main_color inset;
              }
            }
          }
  
          &>.tips{
            width: 100%;
            height: auto;
            margin-top: 2vh;
            font-size: 2.6vh;
            color: #CCC;
          }
  
          &>.buttons{
            width: 100%;
            height: auto;
            margin-top: 6vh;
            text-align: center;
  
            &>img{
              display: inline-block;
              height: 10vh;
              width: auto;
              @include press_effect;
  
              &:nth-of-type(1){
                margin-right: 6vh;
              }
  
              &:nth-of-type(2){
                margin-left: 6vh;
              }
            }
          }
        }
      }
    }
  }
}
