<ion-content>
  <div class="content_container">
    <div class="header">
      <div class="back">
        <img src="assets/image/withdrawal/img_withdrawal_back_button.png">
        <img src="assets/image/withdrawal/img_withdrawal_back_text.png">
      </div>

      <img src="assets/image/withdrawal/img_withdrawal_page_title.png" class="page_title">
    </div>

    <div class="content_main">
      <div class="withdrawal_type_list_container">
        <div class="list_inner">

          <div class="list_item active">
            <img src="assets/image/common/img_default_icon.png">提现到银行
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">资金流水
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">银行卡管理
          </div>

        </div>
      </div>

      <img src="assets/image/withdrawal/img_split_line.png" class="split_line">

      <div class="withdrawal_content_container">
        <div class="withdrawal_content_inner">
          <div class="text_info">
            <h4>
              账户余额：
            </h4>
            <h4>
              ￥0.00元
            </h4>
            <div class="recharge_record">
              <img src="assets/image/withdrawal/img_record_icon.png">
              <span>提现记录</span>
            </div>
          </div>

          <div class="withdrawal_info">
            <span>提现金额</span>
            <input placeholder="请输入您的提现金额 单笔最低100元最高200000元" type="number">
            <div class="clear_button">
              清除
            </div>
          </div>

          <div class="binding_ic_card">
            <img src="assets/image/withdrawal/img_ic_card_default.png">
            <div>
              <h4>
                提现到银行卡
              </h4>
              <h4>
                您暂时未绑定银行卡，请前往绑定。
              </h4>
            </div>
            <div class="binding_button">
              绑定银行卡
            </div>
          </div>

          <img src="assets/image/withdrawal/img_confirm_button.png" class="confirm_withdrawal">
        </div>
      </div>
    </div>
  </div>
</ion-content>