<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/recharge_record/img_recharge_record_page_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="dialog_content_container">
      <div class="table_header">
        <span>时间</span>
        <span>类型</span>
        <span>状态</span>
        <span>金额</span>
        <span>详情</span>
      </div>

      <div class="table_container">
        <div class="no_data" *ngIf="bankItems.length <= 0">
          <img src="assets/image/recharge_record/img_recharge_record_no_data_icon.png">
          <span>暂无数据</span>
        </div>

        <div class="table_inner" *ngIf="bankItems.length > 0">
          <div class="table_row" *ngFor="let item of bankItems">
            <span>{{item.createrTime | date:'yy/MM/dd HH:mm'}}</span>
            <span>{{item.skUserName}}</span>
            <span *ngIf="'success'==item.skStatus">
                充值成功
            </span>
            <span *ngIf="'ring'==item.skStatus">
                入款处理中
            </span>
            <span *ngIf="'fail'==item.skStatus">
                充值失败
            </span>
            <span>{{item.ckMoney}}</span>
            <span (click)="goDetail(item)">查看</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>