@import "src/common/styles/index.scss";

.content_container{
  height: 100%;
  background: black;

  &>.header{
    width: 100%;
    height: 13vh;
    background: url("src/assets/image/refresh_chip/img_refresh_chip_header_bg.png") no-repeat;
    background-size: 100% 100%;

    &>.back{
      width: 28vw;
      height: 100%;
      line-height: 100%;
      float: left;
      @include press_effect;

      &>img{
        height: 8vh;
        width: auto;
        margin-top: 2.5vh;

        &:nth-of-type(1){
          margin-left: 3vh;
        }

        &:nth-of-type(2){
          margin-left: 3vh;
        }
      }
    }

    &>.page_title{
      display: block;
      width: auto;
      height: 7vh;
      margin-top: 2vh;
      float: left;
      vertical-align: middle;
    }
  }

  &>.content_main{
    width: 100%;
    height: calc(100% - 13vh);

    &>.refresh_chip_type_list_container{
      height: 100%;
      width: 20vw;
      float: left;
      background: url("src/assets/image/refresh_chip/img_refresh_chip_list_bg.png") no-repeat;
      background-size: 100% 100%;
      overflow-y: scroll;

      &>.list_inner{
        width: 100%;
        height: auto;

        &>.list_item{
          width: 100%;
          height: 12vh;
          line-height: 12vh;
          text-align: left;
          padding-left: 2vh;
          background: url("src/assets/image/refresh_chip/img_item_high_light_bg.png") no-repeat;
          background-size: 100% 100%;
          font-size: 3.6vh;
          font-weight: 600;
          @include press_effect;

          &.active{
            color: #301F01;
            background-image: url("src/assets/image/refresh_chip/img_item_selected_bg.png")
          }

          &>img{
            width: 6vh;
            height: 6vh;
            vertical-align: middle;
            margin-right: 1vh;
          }
        }
      }
    }

    &>.split_line{
      display: block;
      float: left;
      height: 100%;
      width: auto;
      margin-left: -0.4vh;
      max-width: 1vw;
    }

    &>.refresh_chip_content_container{
      width: calc(100% - 20vw - 1vw);
      height: 100%;
      float: left;
      padding: 2vh 2vw;

      &>.refresh_chip_content_table{
        width: 100%;
        height: calc(100% - 10vh - 2vh);

        &>.total_and_history{
          display: flex;
          width: 100%;
          height: 10vh;
          line-height: 10vh;
          padding: 0 2vh;
          background: url("src/assets/image/refresh_chip/img_refresh_chip_table_header_bg.png") no-repeat;
          background-size: 100% 100%;

          &>span{
            display: inline-block;
            font-size: 3.6vh;

            &:nth-of-type(1){
              color: #CCC;
            }

            &:nth-of-type(2){
              color: $main_color;
            }

            &:nth-of-type(3){
              flex: 1;
              color: $main_color;
              text-align: right;
            }

            &>img{
              width: 6vh;
              height: auto;
              vertical-align: middle;
            }
          }
        }

        &>.prompt_info{
          width: 100%;
          height: 6vh;
          line-height: 6vh;
          background: #847B69;
          padding: 0 2vh;

          &>img{
            width: 5vh;
            height: auto;
            vertical-align: middle;
          }

          &>span{
            font-size: 3.6vh;
            color: #222;
          }
        }

        &>.table_header{
          width: 100%;
          height: 8vh;
          background: #473E35;

          &>span{
            display: block;
            float: left;
            width: 25%;
            height: 100%;
            line-height: 8vh;
            font-size: 3.6vh;
            text-align: center;
            box-sizing: border-box;
            border-right: 0.55px solid #666;
            color: $main_color;

            &:last-child{
              border-right: none;
            }

            &>img{
              width: 5vh;
              height: auto;
              vertical-align: middle;
            }
          }
        }

        &>.content_table{
          width: 100%;
          height: calc(100% - 10vh - 5vh - 8vh);
          overflow-y: scroll;

          &>.content_table_inner{
            width: 100%;
            height: auto;

            &>.table_row{
              width: 100%;
              height: 8vh;
              line-height: 8vh;
              background: #1D1D1F;

              &:nth-child(2n){
                background: #222224;
              }

              &>span{
                display: inline-block;
                width: 25%;
                text-align: center;
                color: #CCC;
                font-size: 3.2vh;
              }
            }
          }          
        }
      }

      &>.statistics{
        width: 100%;
        height: 10vh;
        padding: 0 2vh;
        line-height: 10vh;
        margin-top: 2vh;
        background: url("src/assets/image/refresh_chip/img_refresh_chip_statistics_bg.png") no-repeat;
        background-size: 100% 100%;
        font-size: 3.6vh;
        color: #CCC;

        &>.last_time{
          width: 33%;
          float: left;
          
          &>span{
            color: #CCC;

            &:nth-of-type(){
              color: $main_color;
            }
          }
        }

        &>.amount{
          width: 33%;
          float: left;

          &>span{
            color: #CCC;

            &:nth-of-type(){
              color: $main_color;
            }
          }
        }

        &>.refresh_chip_button{
          display: block;
          float: right;
          margin-top: 1vh;
          height: 8vh;
          width: auto;
          @include press_effect;
        }
      }
    }
  }
}
