<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/settings/img_settings_page_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="dialog_content_container">
      <div class="tab_container">
        <div (click)="tabIndex = 0" [class]="tabIndex == 0 ? 'tab_item active' : 'tab_item'">
          音量设置
        </div>

        <div (click)="tabIndex = 1" [class]="tabIndex == 1 ? 'tab_item active' : 'tab_item'">
          修改密码
        </div>

        <div (click)="tabIndex = 2" [class]="tabIndex == 2 ? 'tab_item active' : 'tab_item'">
          APP更新
        </div>
      </div>

      <div class="tab_content_container">
        <div *ngIf="tabIndex == 0" class="tab01_container">
          <div class="base_info_title">
            基础信息：
          </div>
          <div class="base_info_content">
            <div class="header_img">
              <img src="assets/image/common/img_default_header.jpg">
            </div>

            <div class="account">
              <span>
                账号：
              </span>

              <span>
                {{runTime.user?runTime.user.user.userAccount:'游客'}}
              </span>
            </div>

            <div class="level">
              <span>
                等级：
              </span>

              <span>
                VIP{{runTime.user?runTime.user.user.vipGrade:1}}
              </span>
            </div>
          </div>

          <div class="audio_settings_title">
            声音设置：
          </div>
          <div class="audio_settings_content">
            <div class="music">
              <span>音乐</span>
              <ion-range min="0" max="1" [value]="1" step="0.1" (ionChange)="volw(1)" [(ngModel)]="bgv">
              </ion-range>
            </div>

            <div class="sound">
              <span>音效</span>
              <ion-range min="0" max="1" [value]="1" step="0.1" (ionChange)="volw(0)" [(ngModel)]="btv">
              </ion-range>
            </div>
          </div>

          <img src="assets/image/settings/img_settings_logout_button.png" (click)="logout()">
        </div>

        <div *ngIf="tabIndex == 1" class="tab02_container">
          <div class="input_item">
            <span>现密码：</span>
            <ion-input [(ngModel)]="modifyPwdParam.oldpwd" type="password"></ion-input>
          </div>

          <div class="input_item">
            <span>新密码：</span>
            <ion-input [(ngModel)]="modifyPwdParam.pwd" type="password"></ion-input>
          </div>

          <div class="input_item">
            <span>确认密码：</span>
            <ion-input [(ngModel)]="modifyPwdParam.repwd" type="password"></ion-input>
          </div>

          <img src="assets/image/settings/img_settings_confirm_update_button.png" (click)="modifyPwd()">
        </div>

        <div *ngIf="tabIndex == 2" class="tab03_container">
          <div class="newest">
            <span>
              当前已经是最新版本！
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>