<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/register/img_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="form_container">

      <div class="account">
        <span>账号</span>
        <input type="text" [(ngModel)]="registerParams.account" placeholder="请输入6-14位字母加数字">
      </div>

      <div class="password">
        <span>密码</span>
        <input type="password" [(ngModel)]="registerParams.pwd" placeholder="请输入6-14位字母加数字">
      </div>

      <div class="repassword">
        <span>确认密码</span>
        <input type="password" [(ngModel)]="registerParams.repwd">
      </div>

      <div class="phone_no">
        <span>手机号</span>
        <input type="phone" [(ngModel)]="registerParams.phoneNo">
      </div>

      <div class="valid_code">
        <span>验证码</span>
        <input type="text" [(ngModel)]="registerParams.vsCode">
        <img *ngIf="!timerTick" src="assets/image/register/img_send_validation_code_button.png" 
          class="send_valid_code"
          (click)="sendValidCode()">
        <span *ngIf="timerTick" [innerHtml]="timerText" class="send_valid_code_timer">
        </span>
      </div>

      <img class="register_button" src="assets/image/register/img_register_button.png" (click)="register()">
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>