@import "src/common/styles/index.scss";

.content_container{
  @extend .base_container;

  &>.dialog_container{
    position: absolute;
    width: 138vh;
    height: 80vh;
    left: calc(50% - 69vh);
    top: 10vh;
    background-image: url("src/assets/image/common/dialog/img_dialog_content_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    // &>.header{
    //   width: 100%;
    //   height: 12vh;
    //   line-height: 12vh;
    //   text-align: center;
    //   background-image: url("src/assets/image/common/dialog/img_high_light_bg.png");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: 100% 100%;
    //   border-top-left-radius: 6vh;
    //   border-top-right-radius: 6vh;

    //   &>.title{
    //     height: 6vh;
    //     width: auto;
    //     margin-top: 3vh;
    //   }
    // }

    // &>.split_line{
    //   display: block;
    //   width: 100%;
    //   height: auto;
    //   margin-top: -0.4vh;
    // }

    // &>.form_container{
    //   width: 100%;
    //   height: calc(100% - 12vh);
    //   padding: 3vh 0;

    //   &>.account{
    //     width: 60%;
    //     height: 8vh;
    //     line-height: 8vh;
    //     margin: 0 auto;

    //     &>span{
    //       display: inline-block;
    //       width: 12vw;
    //       height: 100%;
    //       text-align: right;
    //       padding-right: 2vh;
    //       color: $main_color;
    //       font-size: 3.6vh;
    //     }

    //     &>input{
    //       display: inline-block;
    //       width: calc(100% - 12vw);
    //       height: 100%;
    //       line-height: 100%;
    //       outline: none;
    //       border: 0.55px solid $main_color;
    //       background: transparent;
    //       color: white;
    //       padding: 0 3.6vh;
    //       font-size: 3.6vh;
    //       border-radius: 2vh;

    //       &:-webkit-autofill { 
    //         box-shadow: 0 0 0px 1000px $main_color inset;
    //       }
    //     }
    //   }

    //   &>.password{
    //     width: 60%;
    //     height: 8vh;
    //     line-height: 8vh;
    //     margin: 0 auto;
    //     margin-top: 2vh;

    //     &>span{
    //       display: inline-block;
    //       width: 12vw;
    //       height: 100%;
    //       text-align: right;
    //       padding-right: 2vh;
    //       color: $main_color;
    //       font-size: 3.6vh;
    //     }

    //     &>input{
    //       display: inline-block;
    //       width: calc(100% - 12vw);
    //       height: 100%;
    //       line-height: 100%;
    //       outline: none;
    //       border: 0.55px solid $main_color;
    //       background: transparent;
    //       color: white;
    //       padding: 0 3.6vh;
    //       font-size: 3.6vh;
    //       border-radius: 2vh;

    //       &:-webkit-autofill { 
    //         box-shadow: 0 0 0px 1000px $main_color inset;
    //       }
    //     }
    //   }

    //   &>.repassword{
    //     width: 60%;
    //     height: 8vh;
    //     line-height: 8vh;
    //     margin: 0 auto;
    //     margin-top: 2vh;

    //     &>span{
    //       display: inline-block;
    //       width: 12vw;
    //       height: 100%;
    //       text-align: right;
    //       padding-right: 2vh;
    //       color: $main_color;
    //       font-size: 3.6vh;
    //     }

    //     &>input{
    //       display: inline-block;
    //       width: calc(100% - 12vw);
    //       height: 100%;
    //       line-height: 100%;
    //       outline: none;
    //       border: 0.55px solid $main_color;
    //       background: transparent;
    //       color: white;
    //       padding: 0 3.6vh;
    //       font-size: 3.6vh;
    //       border-radius: 2vh;

    //       &:-webkit-autofill { 
    //         box-shadow: 0 0 0px 1000px $main_color inset;
    //       }
    //     }
    //   }

    //   &>.phone_no{
    //     width: 60%;
    //     height: 8vh;
    //     line-height: 8vh;
    //     margin: 0 auto;
    //     margin-top: 2vh;

    //     &>span{
    //       display: inline-block;
    //       width: 12vw;
    //       height: 100%;
    //       text-align: right;
    //       padding-right: 2vh;
    //       color: $main_color;
    //       font-size: 3.6vh;
    //     }

    //     &>input{
    //       display: inline-block;
    //       width: calc(100% - 12vw);
    //       height: 100%;
    //       line-height: 100%;
    //       outline: none;
    //       border: 0.55px solid $main_color;
    //       background: transparent;
    //       color: white;
    //       padding: 0 3.6vh;
    //       font-size: 3.6vh;
    //       border-radius: 2vh;

    //       &:-webkit-autofill { 
    //         box-shadow: 0 0 0px 1000px $main_color inset;
    //       }
    //     }
    //   }

    //   &>.valid_code{
    //     width: 60%;
    //     height: 8vh;
    //     line-height: 8vh;
    //     margin: 0 auto;
    //     margin-top: 2vh;

    //     &>span{
    //       display: inline-block;
    //       width: 12vw;
    //       height: 100%;
    //       text-align: right;
    //       padding-right: 2vh;
    //       color: $main_color;
    //       font-size: 3.6vh;
    //     }

    //     &>input{
    //       display: inline-block;
    //       width: calc(100% - 12vw - 36vh);
    //       height: 100%;
    //       line-height: 100%;
    //       outline: none;
    //       border: 0.55px solid $main_color;
    //       background: transparent;
    //       color: white;
    //       padding: 0 3.6vh;
    //       font-size: 3.6vh;
    //       border-radius: 2vh;

    //       &:-webkit-autofill { 
    //         box-shadow: 0 0 0px 1000px $main_color inset;
    //       }
    //     }

    //     &>img{
    //       display: inline-block;
    //       width: 36vh;
    //       height: 10vh;
    //       vertical-align: middle;
    //       @include press_effect;
    //     }

    //     &>.send_valid_code_timer{
    //       display: inline-block;
    //       width: 30vh;
    //       height: 10vh;
    //       line-height: 10vh;
    //       margin-left: 6vh;
    //       font-size: 3.6vh;
    //       color: $main_color;
    //       border: 0.55px solid $main_color;
    //       border-radius: 5vh;
    //       text-align: center;
    //       vertical-align: middle;
    //     }
    //   }

    //   &>.register_button{
    //     display: block;
    //     width: auto;
    //     height: 10vh;
    //     margin: 0 auto;
    //     margin-top: 3vh;
    //     @include press_effect;
    //   }
    // }

    &>.header{
      width: 100%;
      height: 12vh;
      @include clearfix;
      
      &>.tab01{
        width: 50%;
        height: 12vh;
        float: left;
        box-sizing: border-box;
        line-height: 12vh;
        text-align: center;
        border-top-left-radius: 6vh;
        font-size: 4.8vh;
        color: white;
        font-weight: bold;

        &.active{
          color: $main_color;
          background-image: url("src/assets/image/common/dialog/img_high_light_bg.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
      }

      &>.tab02{
        width: 50%;
        height: 12vh;
        float: left;
        box-sizing: border-box;
        line-height: 12vh;
        text-align: center;
        border-top-right-radius: 6vh;
        font-size: 4.8vh;
        color: white;
        font-weight: bold;

        &.active{
          color: $main_color;
          background-image: url("src/assets/image/common/dialog/img_high_light_bg.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
      }
    }

    &>.split_line{
      display: block;
      width: 100%;
      height: auto;
      margin-top: -0.4vh;
    }

    &>.form_container{
      width: 100%;
      height: calc(100% - 12vh);
      padding: 3vh 0;

      &>.tab01_content{
        width: 100%;
        height: auto;

        &>.account{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
        }
  
        &>.password{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
        }
  
        &>.repassword{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
        }
  
        &>.valid_code{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw - 36vh);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
  
          &>img{
            display: inline-block;
            width: 33vh;
            height: 10vh;
            margin-left: 3vh;
            background-color: white;
            vertical-align: middle;
            @include press_effect;
          }
        }
      }

      &>.tab02_content{
        width: 100%;
        height: auto;
        
        &>.phone_no{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
        }
  
        &>.password{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
        }
  
        &>.repassword{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
        }
  
        &>.valid_code{
          width: 60%;
          height: 8vh;
          line-height: 8vh;
          margin: 0 auto;
          margin-top: 2vh;
  
          &>span{
            display: inline-block;
            width: 12vw;
            height: 100%;
            text-align: right;
            padding-right: 2vh;
            color: $main_color;
            font-size: 3.6vh;
          }
  
          &>input{
            display: inline-block;
            width: calc(100% - 12vw - 36vh);
            height: 100%;
            line-height: 100%;
            outline: none;
            border: 0.55px solid $main_color;
            background: transparent;
            color: white;
            padding: 0 3.6vh;
            font-size: 3.6vh;
            border-radius: 2vh;
  
            &:-webkit-autofill { 
              box-shadow: 0 0 0px 1000px $main_color inset;
            }
          }
  
          &>img{
            display: inline-block;
            width: 36vh;
            height: 10vh;
            vertical-align: middle;
            @include press_effect;
          }
  
          &>.send_valid_code_timer{
            display: inline-block;
            width: 30vh;
            height: 10vh;
            line-height: 10vh;
            margin-left: 6vh;
            font-size: 3.6vh;
            color: $main_color;
            border: 0.55px solid $main_color;
            border-radius: 5vh;
            text-align: center;
            vertical-align: middle;
          }
        }
      }

      &>.register_button{
        display: block;
        width: auto;
        height: 10vh;
        margin: 0 auto;
        margin-top: 3vh;
        @include press_effect;
      }
    }
  }

  &>.close_button{
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: calc(50% + 69vh - 5vh);
    top: calc(10vh - 5vh);
    @include press_effect;
  }
}