@import '../../common/styles/index.scss';

.content_container{
  height: 100%;
  background: black;

  &>.header{
    width: 100%;
    height: 13vh;
    background: url("../../assets/image/recharge/img_recharge_header_bg.png") no-repeat;
    background-size: 100% 100%;

    &>.back{
      width: 28vw;
      height: 100%;
      line-height: 100%;
      float: left;

      &>img{
        height: 8vh;
        width: auto;
        margin-top: 2.5vh;

        &:nth-of-type(1){
          margin-left: 3vh;
        }

        &:nth-of-type(2){
          margin-left: 3vh;
        }
      }
    }

    &>.page_title{
      display: block;
      width: auto;
      height: 7vh;
      margin-top: 2vh;
      float: left;
      vertical-align: middle;
    }
  }

  &>.content_main{
    width: 100%;
    height: calc(100% - 13vh);

    &>.recharge_type_list_container{
      height: 100%;
      width: 20vw;
      float: left;
      background: url("../../assets/image/recharge/img_recharge_list_bg.png") no-repeat;
      background-size: 100% 100%;
      overflow-y: scroll;

      &>.list_inner{
        width: 100%;
        height: auto;

        &>.list_item{
          width: 100%;
          height: 12vh;
          line-height: 12vh;
          text-align: left;
          padding-left: 2vh;
          background: url("../../assets/image/recharge/img_item_high_light_bg.png") no-repeat;
          background-size: 100% 100%;
          font-size: 3.6vh;
          font-weight: 600;
          @include press_effect;

          &.active{
            color: #301F01;
            background-image: url("../../assets/image/recharge/img_item_selected_bg.png")
          }

          &>img{
            width: 6vh;
            height: 6vh;
            vertical-align: middle;
            margin-right: 1vh;
          }
        }
      }
    }

    &>.split_line{
      display: block;
      float: left;
      height: 100%;
      width: auto;
      margin-left: -0.4vh;
      max-width: 1vw;
    }

    &>.recharge_content_container{
      width: calc(100% - 20vw - 1vw);
      height: 100%;
      float: left;
      padding: 2vh 2vw;
      overflow-y: scroll;

      &>.recharge_content_inner{
        width: 100%;
        height: auto;
        padding: 0 2vw;

        &>.text_info{
          width: 100%;
          height: 10vh;
          line-height: 10vh;

          &>div{
            width: 2vh;
            height: 2vh;
            margin-top: 4vh;
            float: left;
            background-color: $main_color;
            border-radius: 50%;
          }

          &>h4{
            height: 10vh;
            float: left;
            margin-left: 3vh;
            font-size: 3.2vh;
            line-height: 10vh;
            color: $main_color;
          }
        }

        &>.bank_item{
          width: 100%;
          height: 22vh;
          line-height: 22vh;
          margin-top: 2vh;
          background: url("../../assets/image/recharge/img_right_side_item_bg.png") no-repeat;
          background-size: 100% 100%;
          padding: 0 2vw;

          &>img{
            display: block;
            float: left;
            width: 10vh;
            height: 10vh;
            margin-top: 6vh;
          }

          &>div:first-of-type{
            width: calc(100% - 12vh - 2vh - 4vw - 20vh);
            height: 12vh;
            float: left;
            margin-top: 6vh;
            margin-left: 1vh;

            &>h4{
              font-size: 3.2vh;
              color: white;

              &:nth-of-type(2){
                margin-top: 2vh;
              }
            }
          }

          &>.recharge_button{
            display: block;
            width: auto;
            height: 10vh;
            float: left;
            margin-left: 1vh;
            margin-top: 6vh;
            @include press_effect;
          }
        }
      }
    }
  }
}
