<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/safe_box_validate/img_setting_password_page_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="form_container">
      <div class="tips_info">
        亲爱的玩家，您是首次使用保险箱，请设定保险箱密码！
      </div>

      <div class="password">
        <span>
          设置密码
        </span>

        <div class="password_content" (click)="getFoucs(1)">
          <div class="letter">    
              {{setPwdParam.pwd.length>=1?'*':''}}     
          </div>

          <div class="letter">
              {{setPwdParam.pwd.length>=2?'*':''}}
          </div>

          <div class="letter">
              {{setPwdParam.pwd.length>=3?'*':''}}
          </div>

          <div class="letter">
              {{setPwdParam.pwd.length>=4?'*':''}}
          </div>
          <input class="pwd" type="password" autocomplete="off" maxlength="4" #pwdInput [(ngModel)]="setPwdParam.pwd">
        </div>
      </div>

      <div class="repassword">
        <span>
          确认密码
        </span>

        <div class="repassword_content" (click)="getFoucs(2)">
            <div class="letter">    
                {{setPwdParam.repwd.length>=1?'*':''}}     
            </div>
  
            <div class="letter">
                {{setPwdParam.repwd.length>=2?'*':''}}
            </div>
  
            <div class="letter">
                {{setPwdParam.repwd.length>=3?'*':''}}
            </div>
  
            <div class="letter">
                {{setPwdParam.repwd.length>=4?'*':''}}
            </div>
          <input class="pwd" type="password" autocomplete="off" maxlength="4" #repwdInput [(ngModel)]="setPwdParam.repwd">
        </div>
      </div>

      <img src="assets/image/safe_box_validate/img_submit_button.png" class="confirm_button" (click)="setPwd()">
    </div>
  </div>
  
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>