.header_container {
  @extend .base_container;
}

.content_container {
  @extend .base_container;
}

.footer_container {
  @extend .base_container;
}

@mixin press_effect {
  @include transition(all 0.3s);

  &:active{
    @include transform(scale(0.9));
  }
}

ion-popover{
  --width: 100vw;
  --height: 100vh;
  --max-width: 100vw;
  --max-height: 100vh;

  .popover-content{
    top: 0 !important;
    left: 0 !important;
  }
}
