<ion-content>
  <div class="content_container">
    <div class="header">
      <div class="back">
        <img src="../../assets/image/activity/img_back_button.png">
        <img src="../../assets/image/activity/img_back_text.png">
      </div>

      <img src="../../assets/image/activity/img_title.png" class="page_title">
    </div>

    <div class="content_main">
      <div class="activity_type_list_container">
        <div class="list_inner">

          <div class="list_item active">
            <img src="../../assets/image/common/img_default_icon.png">综合活动
          </div>

          <div class="list_item">
            <img src="../../assets/image/common/img_default_icon.png">棋牌活动
          </div>

          <div class="list_item">
            <img src="../../assets/image/common/img_default_icon.png">捕鱼活动
          </div>

          <div class="list_item">
            <img src="../../assets/image/common/img_default_icon.png">电子活动
          </div>

          <div class="list_item">
            <img src="../../assets/image/common/img_default_icon.png">视讯活动
          </div>

          <div class="list_item">
            <img src="../../assets/image/common/img_default_icon.png">体育活动
          </div>

        </div>
      </div>

      <img src="../../assets/image/activity/img_split_line.png" class="split_line">

      <div class="activity_content_container">
        <div class="activity_content_inner">

          <div class="activity_item">
            <div class="activity_summary">
              <div class="activity_summary_inner">
                <h3>
                  幸运降临 天天赠送亿万豪礼
                </h3>
                <h5>
                  2019-02-18 07:32
                </h5>
                <img src="../../assets/image/common/img_default.png">
              </div>
              <img src="../../assets/image/activity/img_view_detail.png" class="view_detail">
            </div>

            <div class="activity_oper">
              <div class="description">
                该活动暂不支持在线领取
              </div>
              <div class="buttons">
                <img src="../../assets/image/activity/img_online_ask.png">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>