@import '../../common/styles/index.scss';

.content_container{
  @extend .base_container;

  &>.dialog_container{
    position: absolute;
    width: 138vh;
    height: 80vh;
    left: calc(50% - 69vh);
    top: 10vh;
    background-image: url("../../assets/image/login/img_content_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    &>.header{
      width: 100%;
      height: 12vh;
      line-height: 12vh;
      text-align: center;
      background-image: url("../../assets/image/login/img_high_light_bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      border-top-left-radius: 6vh;
      border-top-right-radius: 6vh;

      &>.title{
        height: 10vh;
        width: auto;
        margin-top: 2vh;
      }
    }

    &>.split_line{
      display: block;
      width: 100%;
      height: auto;
      margin-top: -0.4vh;
    }

    &>.form_container{
      width: 100%;
      height: calc(100% - 12vh);
      padding: 3vh 0;

      &>.account{
        width: 60%;
        height: 10vh;
        line-height: 10vh;
        margin: 0 auto;

        &>span{
          display: inline-block;
          width: 12vw;
          height: 100%;
          color: white;
          font-size: 3.6vh;
        }

        &>input{
          display: inline-block;
          width: calc(100% - 12vw);
          height: 100%;
          line-height: 100%;
          outline: none;
          border: 0.55px solid $main_color;
          background: transparent;
          color: white;
          padding: 0 3.6vh;
          font-size: 3.6vh;
          border-radius: 2vh;

          &:-webkit-autofill { 
            box-shadow: 0 0 0px 1000px $main_color inset;
          }
        }
      }

      &>.password{
        width: 60%;
        height: 10vh;
        line-height: 10vh;
        margin: 0 auto;
        margin-top: 6vh;

        &>span{
          display: inline-block;
          width: 12vw;
          height: 100%;
          color: white;
          font-size: 3.6vh;
        }

        &>input{
          display: inline-block;
          width: calc(100% - 12vw);
          height: 100%;
          line-height: 100%;
          outline: none;
          border: 0.55px solid $main_color;
          background: transparent;
          color: white;
          padding: 0 3.6vh;
          font-size: 3.6vh;
          border-radius: 2vh;

          &:-webkit-autofill { 
            box-shadow: 0 0 0px 1000px $main_color inset;
          }
        }
      }

      &>.forget_password{
        width: 60%;
        height: auto;
        margin: 0 auto;
        text-align: right;
        margin-top: 4vh;
        font-size: 3.2vh;
        color: white;
      }

      &>.function_row{
        position: absolute;
        bottom: 8vh;
        width: 100%;
        height: auto;
        padding-left: 27vh;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;

        &:after{
          display: block;
          content: "";
          height: 0;
          clear: both;
        }

        &>.save_state{
          height: 10vh;
          line-height: 10vh;
          float: left;

          &>.check_state{
            width: 4.8vh;
            height: 4.8vh;
            vertical-align: middle;
          }

          &>span{
            font-size: 3.2vh;
            color: white;
            margin-left: 1.8vh;
          }
        }

        &>.login_button{
          display: block;
          width: auto;
          height: 10vh;
          float: left;
          margin-left: 3vh;
          @include press_effect;
        }

        &>.go_register{
          height: 10vh;
          line-height: 10vh;
          margin-left: 3vh;
          float: left;

          &>span{
            font-size: 3.2vh;

            &:nth-of-type(1){
              color: white;
            }

            &:nth-of-type(2){
              color: $main_color;
            }
          }
        }
      }
    }
  }

  &>.close_button{
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: calc(50% + 69vh - 5vh);
    top: calc(10vh - 5vh);
    background-image: url("../../assets/image/login/img_close_button.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    @include press_effect;
  }
}