.superfill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 auto;
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
}

.left_top_back {
  display: block;
  position: absolute;
  left: 2vh;
  bottom: 2vh;
  background-image: url("src/assets/image/game/img_back_home.png");
  width: 10vh;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
}
