<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/withdrawal_record/img_withdrawal_record_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/withdrawal_record/img_split_line.png">

    <div class="content_container">
      <div class="table_header">
        <span>时间</span>
        <span>状态</span>
        <span>金额</span>
        <span>详情</span>
      </div>

      <div class="table_body">
        <div class="no_data_container">
          <div class="no_data_inner">
            <img src="assets/image/promote/img_promote_no_data_icon.png">
            <span>
              暂无数据
            </span>
          </div>
        </div>

        <div class="table_content_container">
          <div class="table_content_inner">
            <div class="table_content_row">
              <span>
                2019/02/01 08:00
              </span>

              <span>
                转出成功
              </span>

              <span>
                ￥1000.00
              </span>

              <span>
                转出到银行卡
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/image/withdrawal_record/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>