<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/withdrawal_record/img_withdrawal_record_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="content_container">
      <div class="table_header">
        <span>时间</span>
        <span>状态</span>
        <span>金额</span>
        <span>详情</span>
      </div>

      <div class="table_body">
        <div class="no_data_container" *ngIf="bankItems.totals<=0">
          <div class="no_data_inner">
            <img src="assets/image/promote/img_promote_no_data_icon.png">
            <span>
              暂无数据
            </span>
          </div>
        </div>

        <div class="table_content_container" *ngIf="bankItems.totals>0">
          <div class="table_content_inner">
            <div class="table_content_row" *ngFor="let item of bankItems.list">
              <span>
                {{item.createrTime | date:'yy/MM/dd HH:mm'}}
              </span>

              <span *ngIf="'normal'==item.gStatus">
                转出成功
              </span>
              <span *ngIf="'processing'==item.gStatus">
                处理中
              </span>

              <span>
                ￥ {{item.actMoney}}
              </span>

              <span>
                转出到银行卡
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>