<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/receive_commision/img_receive_commision_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="content_container">
      <div class="row_01">
        <div class="commision">
          <span>
            可转出佣金：
          </span>
          <span>
            0.00元
          </span>
        </div>

        <div class="balance">
          <span>
            账号余额：
          </span>
          <span>
            0.00元
          </span>
        </div>
      </div>

      <div class="input_container">
        <div class="input_title">
          转出佣金金额
        </div>
        <div class="input_row">
          <span>
            ￥
          </span>
          <input type="number" placeholder="请您输入要提现的金额">
          <span>全部转出</span>
        </div>
      </div>

      <div class="tips">
        提示：转出后立即到账，如未到账请及时联系客服人员。
      </div>

      <img src="assets/image/receive_commision/img_confirm_transfer.png" class="confirm_transfer">
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>