<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/login/img_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/common/dialog/img_split_line.png">

    <div class="form_container">

      <div class="account">
        <span>账号</span>
        <input type="text" [(ngModel)]="loginParams.inputStr" placeholder="请输入您的账号">
      </div>

      <div class="password">
        <span>密码</span>
        <input type="password" [(ngModel)]="loginParams.pwd" placeholder="请输入您的密码">
      </div>

      <div class="forget_password">
        忘记密码？
      </div>

      <div class="function_row">
        <div class="save_state" (click)="isSaveAccount = !isSaveAccount">
          <img
            [src]="isSaveAccount ? 'assets/image/login/img_checkbox_selected.png' : 'assets/image/login/img_checkbox_unselected.png'"
            class="check_state">
          <span>保存账号</span>
        </div>
        <img src="assets/image/login/img_login_button.png" class="login_button" (click)="login()">
        <div class="go_register">
          <span>没有账号,</span><span (click)="goRegister()">立即注册></span>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/image/common/dialog/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>