@import "src/common/styles/index.scss";

.content_container{
  height: 100%;
  background: black;

  &>.header{
    width: 100%;
    height: 13vh;
    background: url("src/assets/image/common/page/img_common_page_header_bg.png") no-repeat;
    background-size: 100% 100%;

    &>.back{
      width: 28vw;
      height: 100%;
      line-height: 100%;
      float: left;
      @include press_effect;

      &>img{
        height: 8vh;
        width: auto;
        margin-top: 2.5vh;

        &:nth-of-type(1){
          margin-left: 3vh;
        }

        &:nth-of-type(2){
          margin-left: 3vh;
        }
      }
    }

    &>.page_title{
      display: block;
      width: auto;
      height: 7vh;
      margin-top: 2vh;
      float: left;
    }
  }

  &>.content_main{
    width: 100%;
    height: calc(100% - 13vh);

    &>.activity_type_list_container{
      height: 100%;
      width: 20vw;
      float: left;
      background: url("src/assets/image/common/page/img_common_type_list_bg.png") no-repeat;
      background-size: 100% 100%;
      overflow-y: scroll;

      &>.list_inner{
        width: 100%;
        height: auto;

        &>.list_item{
          width: 100%;
          height: 12vh;
          line-height: 12vh;
          text-align: center;
          background: url("src/assets/image/common/page/img_item_high_light_bg.png") no-repeat;
          background-size: 100% 100%;
          font-size: 4.8vh;
          @include press_effect;

          &.active{
            color: #301F01;
            background-image: url("src/assets/image/common/page/img_item_selected_bg.png")
          }

          &>img{
            width: 6vh;
            height: 6vh;
            vertical-align: middle;
            margin-right: 1vh;
          }
        }
      }
    }

    &>.split_line{
      display: block;
      float: left;
      height: 100%;
      width: auto;
      margin-left: -0.4vh;
      max-width: 1vw;
    }

    &>.activity_content_container{
      width: calc(100% - 20vw - 1vw);
      height: 100%;
      float: left;
      padding: 4vh 3vw;
      overflow-y: scroll;

      &>.activity_content_inner{
        width: 100%;
        height: auto;

        &>.activity_item{
          width: 100%;
          height: 40vh;
          background: url("src/assets/image/activity/img_activity_item_bg.png") no-repeat;
          background-size: 100% 100%;
          padding: 2vh 0 2vh 2vw;
          margin-top: 3vh;

          &:first-of-type{
            margin-top: 0;
          }

          &>.activity_summary{
            position: relative;
            width: 66%;
            height: 100%;
            float: left;
            background: url("src/assets/image/activity/img_split_line_sort.png") no-repeat;
            background-position: right;
            background-size: 1vh 100%;

            &>.activity_summary_inner{
              width: 100%;
              height: 100%;
              padding-right: 2vw;

              &>h3{
                width: 100%;
                font-size: 3.6vh;
                color: white;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              &>h5{
                font-size: 2.4vh;
                color: #CCC;
                margin-top: 1vh;
              }

              &>img{
                width: 100%;
                height: calc(100% - 3.6vh - 2.4vh - 2vh - 2vh);
                margin-top: 1vh;
              }
            }

            &>.view_detail{
              position: absolute;
              width: auto;
              height: 8vh;
              left: -2.4vh;
              bottom: 4vh;
            }
          }

          &>.activity_oper{
            width: 33%;
            height: 100%;
            float: left;

            &>.description{
              height: 66%;
              width: 100%;
              background: url("src/assets/image/activity/img_item_high_light_bg.png") no-repeat;
              background-size: 100% 100%;
              font-size: 2.4vh;
              color: #CCC;
              vertical-align: middle;
              text-align: center;
              padding: 3vh 5vw;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &>.buttons{
              height: 33%;
              text-align: center;

              &>img{
                margin-top: 3vh;
                width: auto;
                height: 8vh;
              }
            }
          }
        }
      }
    }
  }
}
