<ion-content>
  <div class="content_container">
    <!-- HEADER START -->
    <div class="header">

      <div class="user_info">
        <div class="header_img_wapper">
          <img src="assets/image/home/img_default_header.jpg">
        </div>

        <div *ngIf="!isLogined" class="login_and_register">
          <h4>未登录</h4>
          <div class="jump_oper">
            <img src="assets/image/home/img_login_button.png" (click)="presentLogin()">
            <img src="assets/image/home/img_register_button.png" (click)="presentRegister()">
          </div>
        </div>

        <div *ngIf="isLogined" class="name_and_level">
          <h4>Jason520</h4>
          <div class="level">
            <img src="assets/image/home/icon_vip_icon_01.png">
            <img src="assets/image/home/icon_vip_text_01.png">
          </div>
        </div>
      </div>

      <div class="header_right_side">
        <div class="header_right_side_inner">

          <div class="coin">
            <img src="assets/image/home/icon_coin.png">
            <span class="coin_value">
              9999
            </span>
            <img src="assets/image/home/icon_refresh.png">
          </div>

          <div class="logo">
            LOGO
          </div>

          <div class="netword_location">
            网址：WWW.383.COM
            <ion-button color="dark" size="small">
              复制
            </ion-button>
          </div>

          <div class="setting">
            <img src="assets/image/home/icon_setting.png">
          </div>

        </div>
      </div>

    </div>
    <!-- HEADER END -->

    <div class="content_main">
      <div class="game_type_list_container">
        <img src="assets/image/home/img_game_category.png" class="game_type_title">
        <div class="list_container">
          <div class="list_inner_container">
            <div class="list_inner">

              <div 
                *ngFor="let gameTypeItem of gameTypeList"
                [class]="currentGameType == gameTypeItem.gid ? 'list_item active' : 'list_item'"
                (click)="selectGameType(gameTypeItem)">
                <img src="assets/image/common/img_default_icon.png">
                <span>{{gameTypeItem.colName}}</span>
              </div>

            </div>
          </div>
        </div>
        <img src="assets/image/home/icon_more.png" class="more_icon">
      </div>

      <div class="right_side_container">
        <div class="system_broadcast">
          <img src="assets/image/home/icon_ring.png">
          <div class="broadcast_content_container">
            <div class="broadcast_inner">
              棋牌游戏竞技中心！今日充值首选[网银充值]操作简单秒到账！还可享受2%的入款优惠哦！
            </div>
          </div>
        </div>

        <div class="game_list_container">
          <div class="game_list_inner">

            <img *ngFor="let item of gameListRow01" 
            [src]="fetchImage(item.gameImg)" 
            class="game_item" 
            (click)="jumpToGamePage(item.gid)">

            <br>

            <img *ngFor="let item of gameListRow02" 
            [src]="fetchImage(item.gameImg)" 
            class="game_item"
            (click)="jumpToGamePage(item.gid)">

          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer_container">
    <div class="promote" (click)="mRouter.navigate(['/promote'])">
      <img src="assets/image/home/icon_promote.png">
    </div>

    <div class="function_list">
      <div class="function_item" (click)="mRouter.navigate(['/activity'])">
        <img src="assets/image/home/icon_activity.png">
      </div>

      <div class="function_item" (click)="mRouter.navigate(['/refresh-chip'])">
        <img src="assets/image/home/icon_refresh_chip.png">
      </div>

      <div class="function_item">
        <img src="assets/image/home/icon_message.png">
      </div>

      <div class="function_item">
        <img src="assets/image/home/icon_customer_service.png">
      </div>

      <div class="function_item" (click)="mRouter.navigate(['/safe-box'])">
        <img src="assets/image/home/icon_safe_box.png">
      </div>
    </div>

    <div class="withdrawal" (click)="mRouter.navigate(['/withdrawal'])">
      <img src="assets/image/home/icon_withdrawal.png">
    </div>

    <div class="recharge">
      <img src="assets/image/home/icon_recharge.png" (click)="mRouter.navigate(['/recharge'])">
    </div>
  </div>
</ion-footer>