<ion-content>
  <div class="content_container">
    <div class="header">
      <div class="back">
        <img src="assets/image/promote/img_promote_back_button.png">
        <img src="assets/image/promote/img_promote_back_text.png">
      </div>

      <img src="assets/image/promote/img_promote_page_title.png" class="page_title">
    </div>

    <div class="content_main">
      <div class="promote_type_list_container">
        <div class="list_inner">

          <div class="list_item active">
            <img src="assets/image/common/img_default_icon.png">推广赚钱
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">我的佣金
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">佣金记录
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">团队成员
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">代理介绍
          </div>

        </div>
      </div>

      <img src="assets/image/promote/img_split_line.png" class="split_line">

      <div class="promote_content_container">
        <div class="user_info">
          <div class="row01">
            <img src="assets/image/common/img_default_icon.png" class="header_img">

            <div class="text_col">
              <span>
                Jason520
              </span>
              <span>
                当前推广等级：0
              </span>
            </div>

            <div class="commision">
              <span>
                可提现佣金：
              </span>
              <span>
                0.00元
              </span>
            </div>

            <img src="assets/image/promote/img_receive_commision.png" class="receive_commision_button">
          </div>

          <div class="row02">
            <div class="team">
              <span>0</span>
              <span>团队成员总数</span>
            </div>

            <div class="commision_total">
              <span>0.00元</span>
              <span>累计获得佣金</span>
            </div>
          </div>
        </div>

        <img src="assets/image/promote/img_adv_img.png" class="adv_img">

        <div class="share_container">
          <div class="link_address">
            <span>
              复制您的专属网址发送给好友
            </span>
            <span class="address">
              https://200965.com
            </span>
            <img src="assets/image/promote/img_copy_url.png" class="copy_link_address">
          </div>

          <div class="share_to_thirdpart">
            <span>一键分享到社交平台：</span>
            <div class="third_part">
              <div class="share_to_wx">
                <img src="assets/image/promote/img_share_wx.png">
                <span>
                  微信好友
                </span>
              </div>

              <div class="share_to_circle_of_friends">
                <img src="assets/image/promote/img_share_circle_of_friends.png">
                <span>
                  朋友圈
                </span>
              </div>

              <div class="share_to_qq">
                <img src="assets/image/promote/img_share_qq.png">
                <span>
                  QQ
                </span>
              </div>
            </div>
          </div>

          <div class="qr_code">
            <img src="assets/image/common/img_default.png">

            <img src="assets/image/promote/img_save_picture.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>