@import "src/common/styles/index.scss";

.content_container{
  height: 100%;
  background: black;

  &>.header{
    width: 100%;
    height: 13vh;
    background: url("src/assets/image/promote/img_promote_header_bg.png") no-repeat;
    background-size: 100% 100%;

    &>.back{
      width: 28vw;
      height: 100%;
      line-height: 100%;
      float: left;
      @include press_effect;

      &>img{
        height: 8vh;
        width: auto;
        margin-top: 2.5vh;

        &:nth-of-type(1){
          margin-left: 3vh;
        }

        &:nth-of-type(2){
          margin-left: 3vh;
        }
      }
    }

    &>.page_title{
      display: block;
      width: auto;
      height: 7vh;
      margin-top: 2vh;
      float: left;
      vertical-align: middle;
    }
  }

  &>.content_main{
    width: 100%;
    height: calc(100% - 13vh);

    &>.promote_type_list_container{
      height: 100%;
      width: 20vw;
      float: left;
      background: url("src/assets/image/promote/img_promote_list_bg.png") no-repeat;
      background-size: 100% 100%;
      overflow-y: scroll;

      &>.list_inner{
        width: 100%;
        height: auto;

        &>.list_item{
          width: 100%;
          height: 12vh;
          line-height: 12vh;
          text-align: left;
          padding-left: 2vh;
          background: url("src/assets/image/promote/img_item_high_light_bg.png") no-repeat;
          background-size: 100% 100%;
          font-size: 3.6vh;
          font-weight: 600;
          @include press_effect;

          &.active{
            color: #301F01;
            background-image: url("src/assets/image/promote/img_item_selected_bg.png")
          }

          &>img{
            width: 6vh;
            height: 6vh;
            vertical-align: middle;
            margin-right: 1vh;
          }
        }
      }
    }

    &>.split_line{
      display: block;
      float: left;
      height: 100%;
      width: auto;
      margin-left: -0.4vh;
      max-width: 1vw;
    }

    &>.promote_content_container{
      width: calc(100% - 20vw - 1vw);
      height: 100%;
      float: left;
      padding: 2vh 2vw;

      &>.user_info{
        width: 100%;
        height: auto;
        background: url("src/assets/image/promote/img_content_bg_right_01.png") no-repeat;
        background-size: 100% 100%;

        &>.row01{
          display: flex;
          align-items: center;
          width: 100%;
          height: 14vh;
          padding: 2vh;
          border-bottom: 0.55px solid #555;

          &>.header_img{
            box-sizing: border-box;
            display: block;
            float: left;
            width: 10vh;
            height: 10vh;
            border-radius: 50%;
            border: 0.6vh solid $main_color;
          }

          &>.text_col{
            width: 36%;
            height: auto;
            margin-left: 1.6vh;
            float: left;

            &>span{
              width: 100%;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 3.2vh;

              &:nth-of-type(1){
                color: white;
              }

              &:nth-of-type(2){
                color: #CCC;
              }
            }
          }

          &>.commision{
            width: auto;
            height: auto;
            flex: 1;
            margin-left: 1.6vh;
            float: left;

            &>span{
              width: 100%;
              display: block;
              font-size: 3.2vh;

              &:nth-of-type(1){
                color: #CCC;
              }

              &:nth-of-type(2){
                display: block;
                width: 100%;
                max-width: 36vh;
                padding: 2vh;
                background: url("src/assets/image/promote/img_text_bg_01.png") no-repeat;
                background-size: 100% 100%;
                color: white;
              }
            }
          }

          &>.receive_commision_button{
            display: block;
            height: 8vh;
            margin-left: 3vh;
            @include press_effect;
          }
        }

        &>.row02{
          width: 100%;
          height: 14vh;
          line-height: 14vh;
          padding: 2vh;

          &>.team{
            width: 50%;
            height: 100%;
            float: left;

            &>span{
              display: block;
              width: 100%;
              height: 50%;
              line-height: 7vh;
              text-align: center;
              font-size: 3.2vh;

              &:nth-of-type(1){
                color: white;
              }

              &:nth-of-type(2){
                color: $main_color;
              }
            }
          }

          &>.commision_total{
            width: 50%;
            height: 100%;
            float: left;

            &>span{
              display: block;
              width: 100%;
              height: 50%;
              line-height: 7vh;
              text-align: center;
              font-size: 3.2vh;

              &:nth-of-type(1){
                color: white;
              }

              &:nth-of-type(2){
                color: $main_color;
              }
            }
          }
        }
      }

      &>.adv_img{
        width: 100%;
        height: 18vh;
      }

      &>.share_container{
        width: 100%;
        height: calc(100% - 28vh - 18vh);

        &>.link_address{
          width: 24%;
          height: 100%;
          float: left;
          text-align: center;
          padding: 2vh;
          background: url("src/assets/image/promote/img_content_bg_right_02.png") no-repeat;
          background-size: 100% 100%;

          &>span{
            width: 100%;
            display: block;
            font-size: 3.2vh;

            &:nth-of-type(1){
              color: white;
            }

            &:nth-of-type(2){
              margin-top: 1vh;
              padding: 1vh;
              background: url("src/assets/image/promote/img_text_bg_02.png") no-repeat;
              background-size: 100% 100%;
            }
          }

          &>img{
            height: 8vh;
            width: auto;
            margin-top: 1vh;
            @include press_effect;
          }
        }

        &>.share_to_thirdpart{
          width: 48%;
          height: 100%;
          margin-left: 2%;
          float: left;
          background: url("src/assets/image/promote/img_content_bg_right_03.png") no-repeat;
          background-size: 100% 100%;
          padding: 2vh;

          &>span{
            widows: 100%;
            font-size: 3.2vh;
            color: white;
          }

          &>.third_part{
            width: 100%;
            height: calc(100% - 5vh);
            margin-top: 1vh;

            &>.share_to_wx{
              width: 33.3%;
              height: 100%;
              text-align: center;
              float: left;

              &>img{
                width: 10vh;
                height: 10vh;
              }

              &>span{
                display: block;
                width: 100%;
                text-align: center;
                font-size: 3.2vh;
                color: white;
                margin-top: 3vh;
              }
            }

            &>.share_to_circle_of_friends{
              width: 33.3%;
              height: 100%;
              text-align: center;
              float: left;

              &>img{
                width: 10vh;
                height: 10vh;
              }

              &>span{
                display: block;
                width: 100%;
                text-align: center;
                font-size: 3.2vh;
                color: white;
                margin-top: 3vh;
              }
            }

            &>.share_to_qq{
              width: 33.3%;
              height: 100%;
              text-align: center;
              float: left;

              &>img{
                width: 10vh;
                height: 10vh;
              }

              &>span{
                display: block;
                width: 100%;
                text-align: center;
                font-size: 3.2vh;
                color: white;
                margin-top: 3vh;
              }
            }
          }
        }

        &>.qr_code{
          width: 24%;
          margin-left: 2%;
          height: 100%;
          float: left;
          padding: 2vh;
          background: url("src/assets/image/promote/img_content_bg_right_04.png") no-repeat;
          background-size: 100% 100%;
          text-align: center;

          &>img{
            &:nth-of-type(1){
              width: 16vh;
              height: 16vh;
            }

            &:nth-of-type(2){
              height: 8vh;
              width: auto;
              @include press_effect;
              margin-top: 1vh;
            }
          }
        }
      }
    }
  }
}
