<div class="content_container">
  <div class="dialog_container">
    <div class="header">
      <img src="assets/image/refresh_chip_record/img_refresh_chip_record_page_title.png" class="title">
    </div>

    <img class="split_line" src="assets/image/refresh_chip_record/img_split_line.png">

    <div class="dialog_content_container">
      <div class="table_header">
        <span>洗码时间</span>
        <span>洗码量</span>
        <span>洗码金额</span>
        <span>详情</span>
      </div>

      <div class="table_container">
          <div class="no_data">
            <img src="assets/image/refresh_chip_record/img_refresh_chip_record_no_data_icon.png">
            <span>暂无数据</span>
          </div>
          
          <div class="table_inner">
            <div class="table_row">
              <span>2019/03/12</span>
              <span>580</span>
              <span>58000</span>
              <span>洗码成功</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <img src="assets/image/refresh_chip_record/img_close_button.png" class="close_button" (click)="dismissDialog()">
</div>