<ion-content>
  <div class="content_container">
    <div class="header">
      <div class="back">
        <img src="../../assets/image/safe_box/img_safe_box_back_button.png">
        <img src="../../assets/image/safe_box/img_safe_box_back_text.png">
      </div>

      <img src="../../assets/image/safe_box/img_safe_box_page_title.png" class="page_title">
    </div>

    <div class="content_main">
      <div class="safe_box_type_list_container">
        <div class="list_inner">

          <div class="list_item active">
            <img src="../../assets/image/safe_box/img_deposit_icon.png">转入
          </div>

          <div class="list_item">
            <img src="../../assets/image/safe_box/img_take_out_icon.png">取出
          </div>

          <div class="list_item">
            <img src="../../assets/image/safe_box/img_detail_icon.png">明细
          </div>

        </div>
      </div>

      <img src="../../assets/image/safe_box/img_split_line.png" class="split_line">

      <div class="safe_box_content_container">
        <!-- 存入 -->
        <div class="deposit">

        </div>

        <!-- 取出 -->
        <div class="take_out">

        </div>

        <!-- 明细 -->
        <div class="detail">
          <div class="detail_header">
            <span>时间</span>
            <span>描述</span>
            <span>金额</span>
          </div>

          <div class="detail_body">
            <div class="no_data_container">
              <div class="no_data_inner">
                <img src="../../assets/image/safe_box/img_no_data_icon.png">
                <span>
                  暂无数据
                </span>
              </div>
            </div>

            <div class="detail_content_container">
              <div class="detail_content_inner">
                <div class="detail_content_row">
                  <span>
                    2019-02-01 08:00
                  </span>

                  <span>
                    从微信转入
                  </span>

                  <span>
                    ￥2000.00
                  </span>
                </div>

                <div class="detail_content_row">
                  <span>
                    2019-02-01 08:00
                  </span>

                  <span>
                    从微信转入
                  </span>

                  <span>
                    ￥2000.00
                  </span>
                </div>

                <div class="detail_content_row">
                  <span>
                    2019-02-01 08:00
                  </span>

                  <span>
                    从微信转入
                  </span>

                  <span>
                    ￥2000.00
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="detail_footer">
            <div class="next_page">
              下一页
            </div>

            <div class="page_counter">
              1/1
            </div>

            <div class="pre_page">
              上一页
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>