<ion-content>
  <div class="content_container">
    <div class="header">
      <div class="back">
        <img src="assets/image/recharge/img_recharge_back_button.png">
        <img src="assets/image/recharge/img_recharge_back_text.png">
      </div>

      <img src="assets/image/recharge/img_recharge_page_title.png" class="page_title">
    </div>

    <div class="content_main">
      <div class="recharge_type_list_container">
        <div class="list_inner">

          <div class="list_item active">
            <img src="assets/image/common/img_default_icon.png">网银充值
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">微信转账
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">支付宝充值
          </div>

          <div class="list_item active">
            <img src="assets/image/common/img_default_icon.png">支付宝转账
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">代理充值
          </div>

          <div class="list_item">
            <img src="assets/image/common/img_default_icon.png">快速充值
          </div>

        </div>
      </div>

      <img src="assets/image/recharge/img_split_line.png" class="split_line">

      <div class="recharge_content_container">
        <div class="recharge_content_inner">
          <div class="text_info">
            <div></div>
            <h4>
              充值收款银行选择
            </h4>
          </div>

          <div class="bank_item">
            <img src="assets/image/common/img_default_icon.png">
            <div>
              <h4>
                工商银行
              </h4>
              <h4>
                2402100901003106113
              </h4>
            </div>
            <img src="assets/image/recharge/img_go_recharge_button.png" class="recharge_button">
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>