<ion-content>
  <div class="content_container">
    <div class="header">
      <div class="back" (click)="mRouter.navigate(['/home'])">
        <img src="assets/image/common/page/img_common_back_button.png">
        <img src="assets/image/common/page/img_common_back_text.png">
      </div>

      <img src="assets/image/recharge/img_recharge_page_title.png" class="page_title">

      <div class="recharge_header_info">
        <div class="recharge_header_info_inner">
          <div class="balance">
            <span>余额：{{wallet.factMoney}}元</span>
            <img src="assets/image/recharge/img_recharge_value.png" (click)="rechargeIndex()">
          </div>

          <img src="assets/image/recharge/img_refresh_icon.png">

          <div class="recharge_record" (click)="goRechargeRecord()">
            <img src="assets/image/recharge/img_recharge_record_icon.png">
            <span>充值记录</span>
          </div>
        </div>
      </div>
    </div>

    <div class="content_main">
      <div class="recharge_type_list_container">
        <div class="list_inner">

          <div (click)="tabPay(item)" [class]="item.gid==currentPay.gid ? 'list_item active' : 'list_item'" *ngFor="let item of apiPays">
            <img [src]="tabIcons.get(item.payType)">{{item.payName}}
            <img *ngIf="item.payLogo=='y'" src="assets/image/recharge/img_recharge_tag_icon.png">
          </div>
        </div>
      </div>

      <img src="assets/image/common/page/img_split_line.png" class="split_line">

      <div class="recharge_content_container">
        <div class="recharge_tab01_content" *ngIf="currentPay.payType == 'yhzz' && isInRecharge == false">
          <div class="text_info">
            <div></div>
            <h4>
              充值收款银行选择
            </h4>
          </div>

          <div class="bank_item" *ngFor="let item of allPayItems['g_' + currentPay.gid]">
            <img [src]="fetchImage(item.bankCode)">
            <div>
              <h4>
                {{item.bankName}}
              </h4>
              <h4>
                {{item.cardNo}}
              </h4>
            </div>
            <img (click)="tabPayItem(item,true)" src="assets/image/recharge/img_go_recharge_button.png"
              class="recharge_button">
          </div>

        </div>

        <div class="recharge_inner" *ngIf="currentPay.payType == 'yhzz' && isInRecharge">

          <div class="to_user">
            <div class="user_infomation">
              <img src="assets/image/recharge/img_recharge_to_user_title.png" class="info_title">

              <div class="info_row">
                <div class="row_title">收款银行</div>
                <div class="row_info">
                  <img [src]="fetchImage(currentPayItem.bankCode)">
                  <span class="sort">{{currentPayItem.bankName}}</span>
                  <span>复制</span>
                </div>
              </div>

              <div class="info_row">
                <div class="row_title">收款人</div>
                <div class="row_info">
                  <span>{{currentPayItem.userName}}</span>
                  <span>复制</span>
                </div>
              </div>

              <div class="info_row">
                <div class="row_title">收款账号</div>
                <div class="row_info">
                  <span>{{currentPayItem.cardNo}}</span>
                  <span>复制</span>
                </div>
              </div>

              <div class="info_row">
                <div class="row_title">开户地</div>
                <div class="row_info">
                  <span>{{currentPayItem.bankSubName}}</span>
                  <span>复制</span>
                </div>
              </div>
            </div>

            <span>第一步：复制收款银行前往充值</span>
            <div class="back_previours_page" (click)="isInRecharge = false">
              返回上一页
            </div>
          </div>

          <div class="from_user">
            <div class="user_infomation">
              <img src="assets/image/recharge/img_recharge_from_user_title.png" class="info_title">

              <div class="input_row">
                <span>存款金额</span>
                <ion-input [placeholder]="'单笔存款' + currentPay.minMoney + '-' + currentPay.maxMoney"></ion-input>
              </div>

              <div class="input_row">
                <span>存款信息</span>
                <ion-input placeholder="请输入姓名或者卡号后四位"></ion-input>
              </div>

              <div class="tips_title">
                <span></span>
                <span>提示</span>
                <span></span>
              </div>

              <div class="tips_info">
                以上银行账户限本次存款用，账户不定期更换，每次存款前请依照本页所显示的银行账户入款，如入款至已过期账号，无法查收，本公司恕不负责！
              </div>
            </div>

            <span>第二步：充值完成，填写您的存款信息。最后，提交充值</span>
            <img src="assets/image/recharge/commit_recharge.png" (click)="subPayInfo()">
          </div>

        </div>

        <div class="recharge_tab02_content" *ngIf="currentPay.payType == 'ylcz'">
          <div class="top_tab_container">
            <span [class]="currentPayItem.gid == item.gid ?'active':''" *ngFor="let item of allPayItems['g_' + currentPay.gid]" (click)="tabPayItem(item,false)">{{item.bankName}}</span>
          </div>

          <div class="inner_tab_content">
            <span>玩家常用的充值金额</span>
            <div class="recharge_value_item_container">
              <span>
                100元
              </span>

              <span>
                200元
              </span>

              <span>
                500元
              </span>

              <span>
                1000元
              </span>

              <span>
                1500元
              </span>

              <span>
                3000元
              </span>

              <span>
                4000元
              </span>

              <span>
                5000元
              </span>
            </div>

            <div class="declare_amount">
              <div class="declare_main">
                <span>充值金额</span>
                <ion-input placeholder="请输入充值金额"></ion-input>
                <span>清除</span>
              </div>
              <div class="tips">
                温馨提示：微信扫码支付，支付限额{{currentPay.minMoney}}-{{currentPay.maxMoney}}元，自动到账
              </div>
            </div>

            <img src="assets/image/recharge/img_recharge_submit_recharge_button.png">
          </div>
        </div>

        <div class="recharge_tab03_content" *ngIf="currentPay.payType == 'wxcz'">
          <div class="top_tab_container">
            <span [class]="currentPayItem.gid == item.gid ?'active':''" *ngFor="let item of allPayItems['g_' + currentPay.gid]" (click)="tabPayItem(item,false)">{{item.bankName}}</span>
          </div>

          <div class="inner_tab_content">
            <span>玩家常用的充值金额</span>
            <div class="recharge_value_item_container">
              <span>
                200元
              </span>

              <span>
                500元
              </span>

              <span>
                800元
              </span>

              <span>
                1000元
              </span>

              <span>
                1500元
              </span>

              <span>
                3000元
              </span>

              <span>
                4000元
              </span>

              <span>
                5000元
              </span>
            </div>

            <div class="declare_amount">
              <div class="declare_main">
                <span>充值金额</span>
                <ion-input placeholder="请输入充值金额"></ion-input>
                <span>清除</span>
              </div>
              <div class="tips">
                温馨提示：XSOPAY微信H5支付，支持限额200-800元自动到账
              </div>
            </div>

            <img src="assets/image/recharge/img_recharge_submit_recharge_button.png">
          </div>
        </div>

        <div class="recharge_tab04_content" *ngIf="currentPay.payType == 'alicz'">
          <div class="top_tab_container">
            <span [class]="currentPayItem.gid == item.gid ?'active':''" *ngFor="let item of allPayItems['g_' + currentPay.gid]" (click)="tabPayItem(item,false)">{{item.bankName}}</span>
          </div>

          <div class="inner_tab_content">
            <span>玩家常用的充值金额</span>
            <div class="recharge_value_item_container">
              <span>
                98元
              </span>

              <span>
                398元
              </span>

              <span>
                498元
              </span>

              <span>
                998元
              </span>

              <span>
                1998元
              </span>

              <span>
                2998元
              </span>

              <span>
                4998元
              </span>

              <span>
                9998元
              </span>
            </div>

            <div class="declare_amount">
              <div class="declare_main">
                <span>充值金额</span>
                <ion-input placeholder="请输入充值金额"></ion-input>
                <span>清除</span>
              </div>
              <div class="tips">
                温馨提示：以上金额支付，复制链接发送好友点击链接支付即可成功支付，支持限额98-10000元自动到账
              </div>
            </div>

            <img src="assets/image/recharge/img_recharge_submit_recharge_button.png">
          </div>
        </div>

        <div class="recharge_tab05_content" *ngIf="currentPay.payType == 'alizz'">
          <div class="top_tab_container">
            <span [class]="currentPayItem.gid == item.gid ?'active':''" *ngFor="let item of allPayItems['g_' + currentPay.gid]" (click)="tabPayItem(item,false)">{{item.bankName}}</span>
          </div>

          <div class="inner_tab_content">
            <span>玩家常用的充值金额</span>
            <div class="recharge_value_item_container">
              <span>
                98元
              </span>

              <span>
                198元
              </span>

              <span>
                398元
              </span>

              <span>
                498元
              </span>

              <span>
                998元
              </span>

              <span>
                1998元
              </span>

              <span>
                2998元
              </span>

              <span>
                4998元
              </span>
            </div>

            <div class="declare_amount">
              <div class="declare_main">
                <span>充值金额</span>
                <ion-input placeholder="请输入充值金额"></ion-input>
                <span>清除</span>
              </div>
              <div class="tips">
                温馨提示：输入订单编号后四位支付，支持限额10-10000元自动到账
              </div>
            </div>

            <img src="assets/image/recharge/img_recharge_submit_recharge_button.png">
          </div>
        </div>

        <div class="recharge_tab06_content" *ngIf="currentPay.payType == 'dlcz'">
          <div class="proxy_header_container">
            <img src="assets/image/recharge/img_recharge_proxy_icon.png">
            <div class="proxy_tips">
              <div class="tips_item">
                <img src="assets/image/recharge/img_recharge_proxy_tag_icon.png">
                <span>复制代理微信号，并跳转到微信完成充值</span>
              </div>

              <div class="tips_item">
                <img src="assets/image/recharge/img_recharge_proxy_tag_icon.png">
                <span>添加以下官方代理微信号，可在10秒内完成充值</span>
              </div>
            </div>

            <div class="comment_proxy_button" (click)="goKufe()">
              投诉代理
            </div>
          </div>

          <div class="users_container">
            <div class="user_item" *ngFor="let item of allPayItems['g_' + currentPay.gid]">
              <div class="row01">
                <img [src]="item.payLogo">
                <div class="user_info">
                  <span>{{item.userName}}</span>
                  <span>微信号</span>
                </div>
              </div>
              <div class="row02">
                  {{item.cardNo}}
              </div>

              <img src="assets/image/recharge/img_recharge_proxy_copy_wx_code_button.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>