<ion-content>
  <div class="content_container">
    <div class="dialog_container">
      <div class="header">
        <img src="../../assets/image/register/img_title.png" class="title">
      </div>

      <img class="split_line" src="../../assets/image/register/img_split_line.png">

      <div class="form_container">

        <div class="account">
          <span>账号</span>
          <input type="text" [(ngModel)]="mAccount" placeholder="请输入6-14位字母加数字">
        </div>

        <div class="password">
          <span>密码</span>
          <input type="password" [(ngModel)]="mPassword" placeholder="请输入6-14位字母加数字">
        </div>

        <div class="repassword">
          <span>确认密码</span>
          <input type="password" [(ngModel)]="mRePassword">
        </div>

        <div class="phone_no">
          <span>手机号</span>
          <input type="phone" [(ngModel)]="mPhoneNO">
        </div>

        <div class="valid_code">
          <span>验证码</span>
          <input type="text" [(ngModel)]="mValidCode">
          <img src="../../assets/image/register/img_send_validation_code_button.png" class="send_valid_code">
        </div>

        <img class="register_button" src="../../assets/image/register/img_register_button.png">
      </div>
    </div>
    <img src="../../assets/image/login/img_close_button.png" class="close_button">
  </div>
</ion-content>